---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import Card from '../base/Card.astro';

interface Props {
  article: CollectionEntry<'article'>;
}

const { article } = Astro.props;

const { Content } = await render(article);
---

<Card tag="main" class="prose prose-lg prose-neutral mx-auto">
  <h1>{article.data.title}</h1>

  <Content />
</Card>
