---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
  article: CollectionEntry<'article'>;
}

const { article } = Astro.props;

const { Content } = await render(article);
---

<div class="prose prose-lg prose-neutral mx-auto">
  <h1>{article.data.title}</h1>

  <Content />
</div>
