---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Card from '../components/base/Card.astro';

export async function getStaticPaths() {
  const sections = await getCollection('section');

  return sections.map((section) => {
    return {
      params: {
        slug: section.id,
      },
      props: { section },
    };
  });
}

const { section } = Astro.props;
---

<Default>
  <Card class="prose prose-neutral mx-auto">
    <h1>{section.data.title}</h1>
    <p>{section.data.description}</p>
  </Card>
</Default>
