---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Card from '../components/base/Card.astro';

const sections = await getCollection('section');
---

<Default>
  <Card tag="main" class="prose prose-neutral mx-auto">
    <h1 dir="rtl">الدينية</h1>

    <ul>
      {
        sections.map((section) => (
          <li>
            <a href={section.id}>{section.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Card>
</Default>
