---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';

const sections = await getCollection('section');

sections.sort(
  (a, b) =>
    new Date(a.data.publishedAt).getTime() -
    new Date(b.data.publishedAt).getTime(),
);
---

<Default>
  <main class="prose prose-lg prose-neutral mx-auto">
    <h1 dir="rtl">الدينية</h1>

    <ul>
      {
        sections.map((section) => (
          <li>
            <a href={`/diniyah/${section.id}`}>{section.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Default>
