---
import type { CollectionEntry } from 'astro:content';
import { getArticles } from '../../utils/section';

interface Props {
  section: CollectionEntry<'section'>;
}

const { section } = Astro.props;
const articles = await getArticles(section);
---

<div class="prose prose-lg prose-neutral mx-auto">
  <h1>{section.data.title}</h1>
  <p>{section.data.description}</p>

  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/${article.id}`}>{article.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
