---
import '../styles/global.css';
import { Font } from 'astro:assets';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title ?? 'Diniyyah'}</title>
    <Font cssVariable="--font-google" />
    <Font cssVariable="--font-noto-kufi-arabic" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/diniyah/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/diniyah/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/diniyah/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/diniyah/favicon/site.webmanifest" />
  </head>
  <body class="px-4 py-4 md:py-10 xl:py-20">
    <slot />
  </body>
</html>
